.popup {
    position: absolute; /* Change to absolute */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: rgba(255, 255, 255, 0.95); /* Slightly transparent white */
    width: 70%; /* Responsive width */
    max-width: 400px; /* Max width */
    height: auto; /* Automatic height based on content */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.popup-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%; /* Full width of the popup */
    position: relative;
}

.popup-success {
    border: 2px solid green;
}

.popup-error {
    border: 2px solid red;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
